* { box-sizing: border-box; }
body {
  overflow: hidden;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing:  grayscale;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-wrap: nowrap;
}

/** Sidebar **/

.sidebar {
  width: 60%;
  min-width: 300px;
  height: 100vh;
  background-color: #4ecdc4;
  text-align: center;
}
.sidebar .content {
  margin-top: 13vh;
  padding: 0 .8em;
}
.avatar {
  border: solid .7ch white;
  margin-bottom: 10px;
  border-radius: 50%;
  width: 30%;
}
.title {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8em;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}
hr {
  width: 70%;
  opacity: .6;
  border: 0;
  border-top: 1px solid white;
}
.description {
  font-family: 'Inconsolata', monospace;
  font-size: 1em;
  line-height: 1.2;
  color: white;
}
.social ul {
  margin: 0 auto;
  margin-top: 20px;
  display: inline-block;
}
.social li {
  float: left;
  margin: 0 10px;
}
.social a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  transition: ease .7s all;
}
.social a:hover { opacity: .7; }


/** Main **/


main { display: flex; }
main .content {
  align-self: center;
  margin: 0 auto;
  padding: 3em;
}
.subtitle {
  text-align: center;
  text-transform: uppercase;
  color: #4a4a4a;
  letter-spacing: 5px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1.8em;
  margin-bottom: 1em;
}
.emphasis {
  text-transform: uppercase;
  font-weight: bold;
}
main p {
  text-align: justify;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #4a4a4a;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

/** Query **/

@media screen and (max-width: 750px){
  body {
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .sidebar {
    width: 100vw;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px 0;
  }
  .sidebar .content {
    width: 100%;
    margin-top: 0;
    align-self: center;
    justify-content: center;
  }
  .avatar {
    max-width: 105px;
    border: solid .5ch white;
  }
  .title { font-size: 1.6em; }
  hr { display: none; }
  .description { font-size: .9em; }
  .social ul { margin-top: 10px; }

  main .content { padding: 1.5em; }
  .subtitle {
    font-size: 1.4em;
    margin: 1em 0;
  }
  main p { font-size: .9em; }
